@import url(reset.css);
@import url('https://fonts.googleapis.com/css2?family=Handlee&family=Montserrat:wght@400;700&display=swap');

/* 
    font-family: 'Montserrat', sans-serif;
    font-family: 'Handlee', cursive;
    color primario: #fa573a
    color secundario: #21242e  

    --breakpoint-movil: 26.563em;
    --breakpoint-tablet: 48.000em;
    --breakpoint-desktop: 62.750em;
*/

:root{
    --color-principal: #fa573a;
    --color-secundario: #21242e;
    --ancho-maximo: 1100px;
    --fuentePrincipal: 'Montserrat', sans-serif;
    --fuenteSecundaria: 'Handlee', cursive;
}

*{
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}   

body{
    font-family: var(--fuentePrincipal);
    font-size: 1em;
}

img{
    width: 100%;
    height: auto;
    display: block;
}

.container{
    max-width: var(--ancho-maximo);
    margin: 0 auto;
}

.constainer-fluid{
    width: 100%;
}

/*inicio header */

header .nav_top{
    background-color: var(--color-secundario);
    padding: 20px 0;
}

.row{
    display: flex;
}

header .nav_top a{
    color: white;
    text-decoration: none;
    font-size: 120%;
}

header .nav_top a span{
    display: none;
}

header .nav_top .row{
    justify-content: space-between;
}
header .nav_top .row div{
   padding:0 10px;
}

header .nav_top i{
    color: var(--color-principal);
}

/* header .nav_top .row div{
    width: 100%;
    text-align: center;
} */

header nav{
    padding: 20px;
}

header .logo{
    width: 50%;
}

header .logo img{
    max-width: 110px;
}

header .hamburguesa{
    cursor: pointer;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

header .hamburguesa div{
    border-top: 2px solid #aaa;
    margin: 0.35em;
    width: 1.875em;
}

header nav .row{
    flex-wrap: wrap;
}

header nav ul{
    width: 100%;
}

header nav ul li a{
    display: block;
   padding: 1.250em;
   text-align: center;
   text-decoration: none;
   border-bottom: 1px solid #aaa;
   color: #aaa; 
}
header nav ul li a:hover{
     color: var(--color-principal)
}

header nav ul li .activo{
    color: var(--color-principal)
}

@media(min-width: 48.000em )
{
    header .nav_top a span{
        display: inline;
    }
}

@media (min-width: 62.750em){

    header .hamburguesa{
        display: none;
    }

    header .logo{
        width: 50%;
    }

    header nav ul{
        width: 50%;
        display: flex;
    }    

    header nav ul li{
        width: 100%;
    }

    header nav ul li a{
        padding: 0.8em 0;
        text-align: center;
        border-bottom: 0px;
    }
    
   
}


/*inicio footer */

footer{
    background-color: var(--color-secundario);
    padding: 1.825em 0;
    text-align: center;
}

footer p, footer a{
    color: white;
}

footer a:hover{
    text-decoration: none;
}

@media(min-width: 48.000em ){
    footer{
        text-align: left;
    }
}

/* inicio hero */ 

.hero{
    background-image: url(../images/fondo.jpg);
    height: 35em;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: #777;
    background-blend-mode: multiply;
    display: flex;

    /* background: url(../images/fondo.jpg) no-repeat center #777; */

}

.hero>div{
    display: flex;
    flex-direction: column;
    width: 80%;
    justify-content: center;
}

.hero h1{
    font-size: 2.5em;
    font-family: var(--fuenteSecundaria);
    color: white;
}

.hero h2{
    color: var(--color-principal);
    font-size: 1.5em;
    margin: 1em 0;
}

.hero p{
    font-size: 1.15em;
    color: white;
}

.boton{
    display: inline-block;
    background-color: var(--color-principal);
    padding: 1.15em;
    color: white;
    text-decoration: none;
    border: 1px solid var(--color-principal);
    margin: 1em 0;
}

.boton i{
    transition: transform 0.5s;
}

.boton:hover{
    background-color: transparent;
    color: var(--color-principal);
}

.boton:hover i{
    transform: translateX(5px);
}

.hero .social li{
    display: inline-block;
    font-size: 2em;
    margin-right: 1em;
}

.hero .social a{
    color: white;
    text-decoration: none;
}

/* MAIN SECTION OURSERVICES */

main section{
    padding: 2.125em 0;
}

main section h2{
    color: black;
    font-family: var(--fuenteSecundaria);
    font-size: 2em;
    text-align: center;
}
main section h2 span{
    color: var(--color-principal);
}

main section .underline{
    position: relative;
    width: 5em;
    margin: 0 auto;
    color: var(--color-principal);
    font-weight: bold;
    margin-bottom: 2em;
}

main section .underline hr{
    border-color: var(--color-principal);
    position: absolute;
    top:-0.063em;
    width: 100%;
}

main section .underline span{
    text-align: center;
    display: block;
}

main section .row{
    flex-wrap: wrap;
    padding: 0 0.825em;
}

main section .row article{
    width: 100%;
    padding: 1.825em 0;
    border-bottom: 1px solid #aaa;
}

main section article div i{
    color: var(--color-principal);
    font-size: 2em;
    padding: 0.8rem;
    border: 2px solid var(--color-principal);
}


main section article .fa-truck{
    transform: rotateY(180deg);
}

main section article h3{
    font-weight: 700;
    margin: 1em 0;
}

.enlace{
    text-decoration: none;
    color: var(--color-principal);
    margin-top: 1em;
    display: block;
}

@media(min-width: 48.000em ){

    main section .row article{
        width: 50%;
        padding: 1.825em 0.825em;
        border-bottom: 0px;
        border-left: 1px solid #aaa;
        margin-bottom: 1em;
    }

    main section .row article:nth-child(3){
        width: 100%;
    }

}


@media (min-width: 62.750em){
     main section .row article{
        width: 33.33%;
    }

      main section .row article:nth-child(3){
        width: 33.33%;
    }
}


/* MAIN SECTION ABOUT US */

main section .row .columna{
    border: 0px;
}

main section .row .columna h4{
    margin-bottom: 1em;
    color: var(--color-principal);
}

main section .marco{
    border: 3px solid var(--color-principal);
    transform: rotateZ(10deg);
    transition: 1s;
    width: 90%;
    margin: 0 auto;
}

main section .marco img{
    transform: rotateZ(-10deg);
    transition: 1s;
}

main section .columna:hover .marco, main section .columna:hover img{
    transform: rotateZ(0deg)
}

@media(min-width: 48.000em ){

    main section .row .columna{
        width: 50%;
    }


}

main #todaymenu
{
    background-color: #1c1c1c;
}
#todaymenu h2
{
    color: white;
}
.bloquemenu
{
    margin: 0 10%;
}
#todaymenu ul{
    width: 100%;
    display: flex;
    flex-direction: column;
}    
#todaymenu ul li a{
    display: block;
   padding: 0.7em;/*este padding es importante. Debería hacer una clase*/
   text-decoration: none;
   color: white;
   font-weight: bold; 
   font-size: 0.75em;
}
#todaymenu ul li a:hover
{
    background-color: var(--color-principal);
    border-radius: 4px;
}
#todaymenu  h3 
{
    color: white;
    font-size: 0.75em;
    margin-bottom: 0.3em;
    margin-top: 2.8em;

}
.lineaToday
{
    border-color:var(--color-principal);
    width: 5em;
    display: inline-block;
}
#todaymenu p
{
    color: rgb(223, 219, 219);
    font-size: 0.6em;
    line-height: 20px;
    }
.producto img
{
   
    margin: 1.5em auto;

}
.producto
{
    margin: 0 auto;
    width:90%;
}
#todaymenu .producto h4
{
    color: white;
    font-size: 0.75em;
    margin-bottom: 0.3em;
    font-weight: bold;
   
}
#todaymenu .producto h4 span
{
    color: var(--color-principal);
    /*margin-left: 2em;*/
    margin-right: 0.8em;
    font-weight: normal;
float: right;
}
#todaymenu .enlace i
{
    border: 0px;
    font-size: 0.8em;
}
#todaymenu .producto .enlace
{
    display: inline-block;
    font-size: 0.8em;
}
#fileteDesk
{
    display: none;
}
.upper
{
    width: 1.5em;
    height: 1.5em;
    border-radius: 5%;
    background-color: var(--color-principal);
    float: right;
    text-align: center;
    margin-right: 0.5em;
    color: white;
    line-height: 1.5em;
}
@media (min-width: 62.750em){
    main #todaymenu article{
        padding-top: 7%;
       
      
    }
    #todaymenu
    {margin: 0 auto;}
   /**/

    .upper
    {display: none;}

    #fileteDesk
    {
        display: flex;
    }
    .contFlex
    {
        display: flex;
        justify-content: center;
        
    }
    .mitadIzq
    {
        display: inline-block;
        width: 30%;
        
    }
       
    .producto 
    {display: flex;
    ;}
    .producto img
{
   
    margin-top: 0;
    width: 25%;
    margin-left: 20px;

}
.mitadIzq div
{
    margin-top: 50%;
}
.mitadDer
{
    margin-left: 6em;
    
}
.alintext
{   width: 60%;
    margin-right: 8%;
}
#todaymenu .producto h4 span
{
  
    margin-left: 2em;
    float: none;
}
}



   

